<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mundo" class="com.test.beans.Mundo">
		<property name="saludo" value="Hola Mundo"></property>
	</bean>
	
<!-- 	<bean id="persona" class="com.test.beans.Persona"> -->
<!-- 		<constructor-arg value="1"></constructor-arg> -->
<!-- 		<constructor-arg value="Sebastian"></constructor-arg> -->
<!-- 		<constructor-arg value="Rodriguez"></constructor-arg> -->
<!-- 	</bean> -->
	
	<bean id="persona" class="com.test.beans.Persona" autowire="byName">
		<property name="id" value="1"></property>
		<property name="nombre" value="Sebastian"></property>
		<property name="apellido" value="Rodriguez"></property>
	</bean>

	<bean id="pais" class="com.test.beans.Pais">
		<property name="nombre" value="Argentina"></property>
		<property name="ciudad" ref="ciudad"></property>
	</bean>
	
	<bean id="ciudad" class="com.test.beans.Ciudad">
		<property name="nombre" value="Buenos Aires"></property>
	</bean>

</beans>
